# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Firebase
GoogleService-Info.plist

# Other
*.moved-aside
*.xcuserstate
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# App data
*.sqlite3
*.sqlite3-journal
*.db
*.db-journal

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# SwiftPM
.swiftpm/xcode/package.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings 